<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuyrt.uieffect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.UiEffectktx">
        <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ********************** Components 组件 ***********************************-->
        <!--recycler-列表展示-->
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.RecyclerMainActivity" />
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.PicturesActivity" />
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.DragActivity" />
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.SwipeActivity" />
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.ParallaxHorizontalActivity"
            android:theme="@style/NoActionBarStyle"
            android:screenOrientation="landscape" />
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.ParallaxVerticalActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.ParallaxActivity" /> <!--特殊效果-->
        <activity android:name="com.tuyrt.uieffect.module.components.recyclerview.CitiesActivity" />

        <activity android:name="com.tuyrt.uieffect.module.components.timeline.TimelineActivity" />

        <activity android:name=".module.components.flow.FlowLayoutActivity" />

        <activity android:name=".module.components.waveview.WaveActivity" />
        <activity android:name=".module.components.button.ButtonActivity" />


        <!-- ********************** Tools 工具 ***********************************-->
        <!--StatusBar-效果 -->
        <activity android:name="com.tuyrt.uieffect.module.tools.statusbar.StatusMainActivity"
            android:theme="@style/status_toolbar_same_color" />
        <activity android:name="com.tuyrt.uieffect.module.tools.statusbar.FullScreenActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.tools.statusbar.FullScreenWithTextActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.tools.statusbar.FullscreenWithTitleBarActivity"
            android:theme="@style/status_toolbar_same_color"/>
        <activity android:name="com.tuyrt.uieffect.module.tools.statusbar.SwitchStatusActivity"
            android:theme="@style/status_toolbar_same_color"/>

        <!--bitmap-->
        <activity android:name=".module.tools.bitmap.BitmapMainActivity" />
        <activity android:name=".module.tools.bitmap.BitmapActivity" />
        <activity android:name=".module.tools.bitmap.FunctionActivity" />
        <activity android:name=".module.tools.bitmap.GlideActivity" />
        <activity android:name=".module.tools.bitmap.SubSamplingActivity" />

        <!-- ********************** Extends 扩展 ***********************************-->
        <activity android:name="com.tuyrt.uieffect.module.extends.mark.MarkActivity" />

        <activity android:name="com.tuyrt.uieffect.module.extends.chart.ChartMainActivity"
            android:launchMode="singleTask" />

        <activity android:name="com.tuyrt.uieffect.module.extends.floats.FloatsMainActivity" />
        <service android:name="com.tuyrt.uieffect.module.extends.floats.floatwindow.FloatWindowService" />

        <!--material+toolbar-->
        <activity android:name="com.tuyrt.uieffect.module.extends.material.MaterialActivity" />
        <activity android:name="com.tuyrt.uieffect.module.extends.material.CoordinatorTabLayoutActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.extends.material.CoordinatorAppBarActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.extends.material.CoordinatorFollowActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.extends.material.CoordinatorComplexActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name="com.tuyrt.uieffect.module.extends.material.ToolBarActivity"
            android:theme="@style/NoActionBarStyle" />
        <activity android:name="com.tuyrt.uieffect.module.extends.material.ZhiHuActivity"
            android:theme="@style/NoActionBarStyle"/>

        <activity android:name=".module.extends.gray.GrayActivity" />

    </application>

</manifest>